<app-portal-top-menu></app-portal-top-menu>

<div *ngIf="loading;else person_content">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</div>

<ng-template #person_content>
    <h1>{{personData.names[0]}}</h1>
    <p-panel  header="Dados Pessoais">
        <ul>
            <li>Nomes:</li>
            <ul *ngFor="let name of personData.names">
                <li>{{name}}</li>
            </ul>
            <li>Cpf: {{personData.cpf}}</li>
        </ul>
    </p-panel>
</ng-template>
