<app-portal-top-menu></app-portal-top-menu>

<h1>Poli Web Search - Portal</h1>
<h2>Serviços que oferecemos: </h2>
<p-fieldset legend="Grafos">
    <p>Descrição do serviço de grafos</p>
    <button pButton pRipple type="button" label="Visitar página" class="p-button-rounded"></button>
</p-fieldset>
<p-fieldset legend="Busca">
    <p>Descrição do serviço de busca</p>
    <button pButton pRipple type="button" label="Visitar página" class="p-button-rounded"></button>
</p-fieldset>
<p-fieldset legend="Inspeção">
    <p>Descrição do serviço de inspeção</p>
    <button pButton pRipple type="button" label="Visitar página" class="p-button-rounded"></button>
</p-fieldset>
<p-fieldset legend="Gráficos">
    <p>Descrição do serviço de gráficos</p>
    <button pButton pRipple type="button" label="Visitar página" class="p-button-rounded"></button>
</p-fieldset>