.spaced-button{
    margin: 1em;
}

.search-options{
}

.search-box{
}

.search-button{
    margin: 10px;
}

.search-bar{
    width: 50%;
}

.item-result{
    margin: 1em;
    border: black 1px solid;
}