<app-portal-top-menu></app-portal-top-menu>

<p-sidebar [(visible)]="displayLeftMenu" styleClass="p-sidebar-lg">
  Content
</p-sidebar>

<button (click)="displayLeftMenu=true" 
pButton pRipple type="button" icon="pi pi-search" 
class="p-button-rounded p-button-success search-button search-button">
</button>


<div class="p-d-flex p-jc-center">
    <div class="p-col-9 fill-screen">
      <ngx-graph class="chart-container graph-panel"
  
      [links]="
      [
        {
          id: 'a',
          source: 'first',
          target: 'second',
          label: 'is parent of'
        },
        {
          id: 'b',
          source: 'first',
          target: 'third',
          label: 'custom label'
        }
      ]"
    [nodes]="
      [
        {
          id: 'first',
          label: 'A'
        }, 
        {
          id: 'second',
          label: 'B'
        }, 
        {
          id: 'third',
          label: 'C'
        }
      ]"
    (select)="onNodeSelect($event)"
    >
      </ngx-graph>
    </div>
  
    <div class="p-col-2 fill-screen">
      <div class="inspect-panel">
        <h1>Inspect Panel</h1>
      </div>
    </div>
</div>







